.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.conteinerBackground{
  background: whitesmoke;
}

.conteinerHelpBackground{
  height:300px;
  width:50px;
  background: whitesmoke;
  align-items: center;
}
.bannerBackground{
  background: rgb(3, 49, 104);
  color: white;
}
.gradientecolorBackground{
  height:100px;
  width:150px;
  /* background: linear-gradient(rgba(250,73,69,150,228), transparent); */
  /* background-color: orange; */
}

.smallButton{
  height:40px;
  width:267px;
  background-color : orange;
}

.childButton{
  height:300px;
  width:300px;
  background-color : orange;
}

.placetopayButton{
  height:300px;
  width:300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
